html {
	font-size: 30pt;
	background-color: #00FFFD;
	color: #8200FF;
	font-family: 'Arial Rounded MT Bold', 'Times New Roman', sans-serif;
}

h1 {
	font-size: 100pt;
	color: #FF33EE;
	border-bottom: solid 2px #FFFD00;
	font-family: 'Arial Rounded MT Bold', 'Lucida Blackletter';
}
